* {
    margin-top: 0;
    box-sizing: border-box;
}

.topics {
    padding: 80px 0 80px 0;
}

.container0 {
    padding: 50px 150px 50px 150px;
}

.container1 {
    padding: 50px 100px 50px 100px;
    height: fit-content;
    align-content: center;
    background-color: lightgray;
}

.rwls:hover {
    background-color: rgb(15, 95, 160);
    color: white;
}

.learn1 {
    text-decoration: none;
    color: black;
}

.content1 {
    height: 300px;
    border: 12px double whitesmoke;
}

.content2 {
    text-align: left;
}

.content_b:hover {
    background-color: #FFFF33;
    color: black;
    border: 5px double black;
}

.content_a:hover {
    background-color: purple;
    color: whitesmoke;
    border: 7px double whitesmoke;
}

.center1 {
    box-align: center;
    margin: auto;
    width: 75%;
}

.center2 {
    margin: auto;
    width: 50%;
}

.b_head-size {
    font-size: xx-large;
}

.b_font-size {
    font-size: large;
}