* {
    margin-top: 0;
    box-sizing: border-box;
}

.nav-search {
    float: right;
}

.nav-search .signup-btn {
    display: inline-block;
    margin-left: 30px;
}

.lsbutton {
    float: right;
    font-weight: bold;
    height: 35px;
    color: white;
    padding: 5px 10px;
}

.signup-btn {
    /* max-width: 250px; */
    padding: 1px;
    /* position: relative; */
    background: linear-gradient(to right, tomato, #EB3E59);
    padding: 3px;
}

.signup {
    background: #241319;
    padding: 2px;
    float: right;
}

.sbutton {
    padding: 15px 30px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, tomato, #EB3E59);
}

.sbutton:hover {
    background-image: none;
    color: tomato;
    background-color: white;
}

.sbutton:active {
    background-color: transparent;
    border: white solid 2px;
}