* {
    margin-top: 0;
    box-sizing: border-box;
}

html {
    margin-top: 0;
    /* box-sizing: border-box; */
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Cambridge Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    display: block;
}


/* Style the header */

header {
    text-align: left;
    font-size: 20px;
    height: 800px;
    color: white;
}

.topback {
    background-image: url("https://images.wallpaperscraft.com/image/library_books_reading_125466_1920x1080.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

.head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 30px 20px 90px;
    background-color: rgba(0, 0, 0, 0.445);
}

.head1 {
    /* font-family: ink Free; */
    font-family: Mistral;
}

.Poppins {
    font-family: 'Poppins', sans-serif;
}

.Baloo_Chettan_2 {
    font-family: 'Baloo Chettan 2', cursive;
}

.banner-set {
    padding-top: 250px;
    padding-left: 10%;
}

.head2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Create two columns/boxes that floats next to each other */

nav {
    float: left;
    width: 90px;
    height: 800px;
    padding: 10px;
}

.navclass {
    /* position and alignment */
    position: fixed;
    left: 0;
    top: var(--ytd-masthead-height, 180px);
    bottom: 0;
    display: inline-block;
    /* background-color: gray; */
    z-index: 2030;
}

.navclass ul li {
    color: wheat;
    /* text-align: center; */
}

nav ul {
    list-style-type: none;
    color: black;
    padding: 0;
}

.circle_c {
    width: 55px;
    height: 55px;
    text-shadow: black;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 50px;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.circle_c:hover {
    width: 150px;
    height: 55px;
    position: relative;
}

.c1:hover {
    background-color: dodgerblue;
}

.c2:hover {
    background-color: tomato;
}

.c3:hover {
    background-color: mediumseagreen;
}

.c4:hover {
    background-color: grey;
}

.c5:hover {
    background-color: slateblue;
}

.c6:hover {
    background-color: yellow;
}

.c {
    background-color: white;
}

.disp {
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    display: none;
    font-size: large;
}

.circle_c:hover .disp {
    display: inline-block;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #27aeaf;
    height: 300px;
}

.section {
    /* margin-left: 60px; */
    padding: 20px 0 0 100px;
}

.startpage1 {
    text-align: center;
}

.row_c {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col_c {
    position: relative;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.col-center {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.center_ {
    text-align: center;
    align-content: center;
}

.container_c {
    padding: 0 30px;
    margin: 0 10px 0 10px;
    width: auto;
}

.content_c {
    margin: 10px;
    position: relative;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    font-size: larger;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.content_:hover {
    z-index: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.col h2,
p {
    margin-bottom: 20px;
}

.para p {
    min-width: 300px;
}

.news {
    background-color: tomato;
    position: relative;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.news:hover {
    background-color: blueviolet;
}

.padding_c {
    padding: 30px;
}

.t_padding_c {
    padding: 50px 10px;
}

.s_padding_c {
    padding: 10px 50px;
}


/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}

.block {
    margin: 0 10px 0 10px;
    display: flex;
}

.mblock {
    display: inline-flex;
}

.column {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.text-white {
    font-size: small;
    color: white;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}