.headimg1 {
    background-image: url("https://images.wallpaperscraft.com/image/library_books_reading_125466_1920x1080.jpg");
}

.headimg2 {
    background-image: url("https://www.itl.cat/pngfile/big/214-2140785_ielts-student.jpg");
}

.headimg3 {
    background-image: url("https://i.udemycdn.com/course/750x422/2596862_5530_5.jpg");
}

.headimg4 {
    background-image: url("https://www.itl.cat/pngfile/big/214-2140785_ielts-student.jpg");
}

.headimg5 {
    background-image: url("https://wallpapers.ae/wp-content/uploads/2014/12/Cool-Yosemite-Sam-and-Bugs-Bunny-Images.jpg");
}

.headimg6 {
    background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/17657/production/_101613859_student.jpg");
}